.App {
  text-align: center;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-Banner {
  background-image: url("./media/bg.jpg");
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App-Banner-Link {
  color: aliceblue;
}

.App-Banner-Link:hover {
  color: grey;
}

.App-Center-Statement {
  margin: auto;
  min-width: 50%;
  border: 2px solid WHITE;
  padding: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5));

}

.img-logo {
  height: 2rem;

}

.App-Navbar-Font {
  font-size: 2.5vh;
  font-weight: bold;

}

h1 {
  color: rgb(241, 241, 241);
  font-size: 3.5rem;
  font-family: Georgia, serif;
  text-shadow: 2px 2px 5px #3d3d3d;

}

h2 {
  color: rgb(241, 241, 241);
  font-size: 2rem;
  text-shadow: 2px 2px 5px #3d3d3d;

}


.App-Flags {
  background-image: url("./media/flags.png");
  background-position: center;
  background-repeat: repeat-x;
  height: 10vh;
  margin-bottom: 5vh;
}

.App-Social-Icon {
  height: 2rem;
  margin: auto;
  padding-right: 2vh;
}

.App-Col {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  height: 25em;
  width: 30em;
}

.App-Location {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(57, 71, 94);
}

.App-Map-Caption {
  color: whitesmoke;
}

.App-Restaurant-Attributes {
  font-weight: bold;
  margin-left: 15em;
  margin-right: 15em;
  margin-bottom: 3em;
  font-size: 20px;
}

/*******************************************/

.Gallery-Food {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .App-About {
    margin-top: 0em !important;
    margin-left: 0em !important;
    margin-right: 0em !important;
    margin-bottom: 0em !important;
  }

  .App-Restaurant-Attributes {
    font-weight: bold;
    margin-left: 0em !important;
    margin-right: 0em !important;
    margin-bottom: 0em !important;
    font-size: 15px;
  }

  .App-About-Heading {
    font-size: 2em !important;
  }

  .App-About-Text {
    font-size: 1em !important;
  }

  .App-Col {
    height: 20em;
    width: 25em;
  }
}

@media only screen and (max-width: 600px) {
  .Gallery-Food {
    height: 90%;
    width: 90%;
  }

}

.hours-heading {
  Margin-bottom: 4vh;
  font-size: 6vh;
  color: whitesmoke;
  font-family: Georgia, serif;
}

.today-heading {
  color: rgb(209, 153, 153)
}

.day-heading {
  color: whitesmoke
}

.food-container {
  padding-bottom: 10vh;
  width: 60vh;
  margin: 0 auto;
  max-width: 900px;
}

img {
  width: 100%;
  display: block;
}

/*
.image-stack::after {
  content: ' ';
  display: table;
  clear: both;
}

.image-stack__item--top {
  float: left;
  width: 66%;
  margin-right: -100%;
  position: relative;
  z-index: 1;
}

.image-stack__item--bottom {
  float: right;
  width: 75%;
}

@supports (display: grid) {
  .image-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
  }

  .image-stack__item--bottom {
    grid-column: 4 / -1;
    grid-row: 1;
    width: 100%;
  }

  .image-stack__item--top {
    grid-row: 1;
    grid-column: 1 / span 8;
    padding-top: 20%;
    width: 100%;
  }
}
*/
.App-About {
  margin-top: 5em;
  margin-left: 15em;
  margin-right: 15em;
  margin-bottom: 5em;
}

.App-About-Heading {
  font-family: Georgia, serif;
  border-bottom: 2px solid black;
  font-size: 2.5em;
  color: rgb(102, 7, 7)
}

.App-About-Text {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5em;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}